body{
    color: #E9E9E9;
	background: #111;
}

ul{ padding: 0; }

header{
	background: #222;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px ;
    margin: 15px 10px 0;
}

header a:link,
header a:visited{
	color: #e9e9e9;
    font-family:Tahoma, Geneva, sans-serif;
	text-decoration: none;
}

header a:hover{
	text-decoration: underline;
}

#foot ul li{
	display: inline-block;
	font-size:10px;
	font-family:Tahoma, Geneva, sans-serif;
	padding: 5px;
}

#foot a:link,
#foot a:visited,
#foot a:hover{
	text-decoration: underline;
	color: #333;
}

#admin #main{
	font-family:Tahoma, Geneva, sans-serif;
	padding-left: 17px;
}

#admin #main .line{
	background: #222;
}

#admin #button_table{
    float:right;
    padding: 5px;
}

#admin #button_table td.blank{
    width: 20px;
}
#admin #button_table td.button{
    width: 125px;
}

/* ***** Admin Page Table CSS ***** */
/* *** Guests Table CSS *** */
#admin #guests th{
    vertical-align: bottom;
}
#admin #guests td:first-child{
    text-align: right;
    width: 35px;
}
#admin #guests td:nth-child(2){
    width:10px
}
#admin #guests td:nth-child(3),
#admin #guests td:nth-child(8){
    width:200px
}
#admin #guests td:nth-child(4){
    width: 100px;
    text-align: center;
}
#admin #guests td:nth-child(5){
    width: 30px;
}
#admin #guests td:nth-child(6),
#admin #guests td:nth-child(7),
#admin #guests td:nth-child(10){
    text-align: center;
    width:50px;
}
#admin #guests td:nth-child(9){
    width: 60px;
    text-align: center;
    font-size:18px;
    color: #F50000;
}
/* *** END - Guests Table CSS *** */
/* *** Music Table CSS *** */
#admin #music th{
    vertical-align: bottom;
}
#admin #music td:first-child{
    text-align: right;
    width: 35px;
}
#admin #music td:nth-child(2){
    width:10px
}
#admin #music td:nth-child(3),
#admin #music th:nth-child(3){
    width: 200px;
}
#admin #music td:nth-child(4),
#admin #music td:nth-child(5),
#admin #music td:nth-child(7){
    width: 150px;
    text-align: center
}
#admin #music td:nth-child(6){
    width: 100px;
    text-align: center
}
#admin #music td:nth-child(8){
    width: 50px;
    text-align: center;
}

#admin #guests td:nth-child(9){
    text-align: center;
}
/* *** END - Music Table CSS *** */
/* *** Gifts Table CSS *** */
#admin #gifts{
    margin-top: 10px;
}
#admin #gifts th{
    vertical-align: bottom;
}
#admin #gifts td:first-child{
    text-align: right;
    width: 35px;
}
#admin #gifts td:nth-child(2){
    width:10px
}
#admin #gifts td:nth-child(3){
    width: 100px;
    text-align: center;
}
#admin #gifts td:nth-child(4){
    width:200px;
    text-align: left;
}
#admin #gifts td:nth-child(5){
    width: 30px;
}
#admin #gifts td:nth-child(6){
    text-align: center;
}
#admin #gifts td:nth-child(7){
    text-align: center;
    width:150px;
}
#admin #gifts td:nth-child(8){
    text-align: center;
    width:50px;
}
/* *** END - Gifts Table CSS *** */
/* ***** END - Admin Page Table CSS ***** */



.text{
	padding: 20px;
	font-family: 'Merienda One', cursive;
	font-size: 14px;
}

.detail-entry{
    font-family: 'Metrophobic', cursive;
}

.button{
	border: 0 solid black ;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
	font-family:"Comic Sans MS", cursive;
	font-weight:bolder;
	font-size:14px;
	cursor:pointer;
	color:#111;
	background:#e9e9e9;
    vertical-align: middle;
}

.alt_button{
    border: 0 solid black ;
    border-radius: 10px ;
    -moz-border-radius: 10px ;
    -webkit-border-radius: 10px ;
    font-family:"Comic Sans MS", cursive;
    font-weight:bolder;
    font-size:14px;
    cursor:pointer;
    color:#e9e9e9;
    background:#111111;
    vertical-align: middle;
}

.button a:link,
.button a:visited,
.button a:hover{
	text-decoration: none;
	padding:5px;
	color:#111111;
}

.alt_button a:link,
.alt_button a:visited,
.alt_button a:hover{
    color: #e9e9e9;
    text-decoration: none;
    padding: 3px;
}

.sexy_line {
    margin: 5px 0;
    height: 2px;
    background: #111;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#E9E9E9), to(#e9e9e9), color-stop(50%, #111));
}

.shadow{
    /* drop shadow */
    box-shadow: 0 0 25px 20px white;
    -moz-box-shadow: 0px 0px 25px 20px white;
    -webkit-box-shadow: 0px 0px 25px 20px white;
    border-radius:1px;
    -moz-border-radius:1px;
}

.text a:link,
.text a:visited,
.text a:hover{
    color: #3299bb;
}

#main{
    padding: 10px;
}

#main p{
    padding-left: 5px;
}


#main_img_block{
    float: right;
    padding: 50px 0;
    width: 500px;
    height: 300px;
    text-align: center;
}


/* ***** Navigation Menu ***** */

.nav{
    padding: 13px 50px 0;
    margin: auto;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    height: 30px;
    font-size: 16px;
}
.nav ul{
    margin:0;
    list-style:none;
}
.nav li{
    padding: 4px 10px;
    margin:0;
}
.nav li a{
    color:#FFF;
    text-decoration:none;
}

/*--------------------------*\
	    navigation_menu
\*--------------------------*/
#trigger,
.mobile_nav{
    display: none;
}

.nav #navigation_menu .nav_li:nth-child(5){
    float: right;
}

#navigation_menu{
    list-style:none;
    display: inline;
    position:relative;
    z-index:501;
    margin: 0 auto;
    text-align: left;
    text-decoration: none;
}
#navigation_menu .nav_li{
    position:relative;
    display: inline;
    cursor: default;
}
#navigation_menu ul li a{
    display:block;
    padding:5px;
    color:#fff;
}
#navigation_menu .top_link:hover{
    text-decoration: underline;
}

/*--- DROPDOWN ---*/
#navigation_menu ul{
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#navigation_menu ul li{
    float:none;
    padding: 0;
    margin-left:3px;
    line-height: 10px;
    background-color: #222;
}
#navigation_menu ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#navigation_menu li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}
#navigation_menu li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}
#navigation_menu li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#e9e9e9;
    color: #111;
}